
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
body {
    font-family: lato;
    font-size: 15px;
    font-weight: 300;
    color: rgb(124, 124, 124);
}

a {
    color: #fff;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

a:hover, a:focus {
    color: #149c82;
    text-decoration: none;
}

.carousel-control {
    font-size: 210px;
    color: #000;
    background: transparent;
    border: 0;
}
a.carousel-control:hover {
    color: rgb(200,200,200);
}
.carousel-control.right {
    right: -10px;
    left: auto;
}
.carousel-control.left {
    left: -35px;
}
a.carousel-control:hover {
    color: #149c82;
}


/*************************************************************
                             layout
**************************************************************/
#download, #testimonials, #prices, #subscribe, #footer{
    min-height: 20px;
    padding: 20px 0;
}


/*************************************************************
                             header
**************************************************************/
.site-header {
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    width: 100%;
}

.site-title {
    margin-top: 5px;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    display: inline-block;
    margin-top: 34px;
}

.user {
    margin-top: 34px;
}
.user a{
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 15px;
    border: 2px solid #fff;
    display: inline-block;
    color: #fff;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.user a:hover {
    background: #fff;
    color: #149c82;
}


.header-description {
    margin: 130px 0 80px;
    text-align: center;
}
.header-description h2 {
    font-weight: 100;
    font-size: 93px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0px 12px rgba(36, 36, 36, 0.55);
    padding: 0px 0 40px 0;
}

.header-btn {
    color: #fff;
    margin-top: 130px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    padding: 20px 35px;
    border: 2px solid #149c82;
    background: #149c82;
    display: inline-block;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.header-btn:hover {
    color: #fff;
    background: transparent;
}

.header-features {
    margin: -50px 110px 0 110px;
    color: #fff;
    display: block;
}
.header-feature{
    padding: 50px;
}





.features {
    background: rgb(255, 135, 89);
    border-top: 1px solid rgba(255, 255, 255, 0.54);
    color: #fff;
    padding: 20px 0;
}

.feature {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 10px;
}




.contact {
    background: rgb(243, 243, 243);
}


.contact > div.container {
    padding-top: 50px;
}
.contact h2 {
    font-weight: 400;
}
.contact i {
    color: rgb(68, 68, 68);
}

ul.social {
    text-align: center;
    padding: 20px 0 0px;
}
ul.social li {
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    line-height: 60px;
    background: #149c82;
    margin-bottom:.5em;
    font-size: 20px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

ul.social li a {
    display: block;
    width: 100%;
    height: 200%;
    position: relative;
    top: 0;
    -webkit-transition: top 0.7s;
    -moz-transition: top 0.7s;
    -o-transition: top 0.7s;
    transition: top 0.7s;
}
ul.social li a i {
    color: #fff;
}



.contact-form input, .contact-form textarea {
    padding: 10px auto;
    height: 50px;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.contact-form textarea {
    height: 150px;
}
.contact-form .container {
    max-width: 500px;
    padding: 20px 0 ;
    display: none;
}
.contact-form i {
    display: block;
    padding: 20px;
    font-size: 40px;
    margin-top: 55px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAInT578zwjjgzjm5uaMYAEYB8RmROaABAD2Mw9fuRdIeAAAAABJRU5ErkJggg==) repeat;
    display: inline-block;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    border-radius: 100%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
}
.contact-form-btn:hover {
    cursor: pointer;
}
.contact-form .btn-custom {
    border-radius: 5px;
    margin: 20px auto;
}
.contact-form .btn-custom:hover {
    color: #000;
}


.subscribe {
    background: rgb(26, 26, 26);
    color: #fff;
    text-align: center;
}
.subscribe input{
    border: 1px solid #fff;
    height: 42px;
    width: 322px;


    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-custom {
    display: inline-block;
    padding: 15px 32px 13px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #149c82;
    background: #149c82;

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.btn-custom:hover {
    background: transparent;
}



.footer {
    padding: 0px 0 !important;
}
.footer-title {
    font-size: 20px;
}
.footer-title a:hover {
    text-decoration: none;
}
.copyright {
    margin-top: 22px;
}


@media (min-width: 1200px) {  }

@media (min-width: 768px) and (max-width: 979px) {
    .header-description h2 {
        font-size: 83px;
        line-height: 58px;
    }
    .header-features {
        margin: 0 0 30px 0;
    }
    .header-feature {
        margin: 0 0 30px 0;
        padding: 0;
    }
}

@media (max-width: 767px) {
    body {
        padding: 0;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header-description {
        margin: 76px 0 80px;
    }
    .header-description h2 {
        font-size: 66px;
        line-height: 58px;
    }
    .header-btn {
        margin-top: 74px;
    }
    .header-features {
        margin: 0 0 30px 0;
    }
    .header-feature {
        margin: 0 0 30px 0;
        padding: 0;
    }

    .testimonials {
        padding: 44px 0 60px !important;
    }
    .testimonials i {
        font-size: 106px;
    }
    blockquote > div {
        padding: 0;
    }
    blockquote p {
        font-size: 18px;
    }

    .contact-form-inner {
        padding: 18px !important;
    }
    .subscribe input {
        height: 31px;
        width: 154px;
    }
    .btn-custom {
        padding: 9px 14px 8px;
    }

}

@media (max-width: 480px) {

}